
    <h2>Welcame To Employee System</h2>
    <!-- Features -->
    <section class="features">

        <div class="container-fluid">
            <!-- <header>
                <h2>Welcame To Our Employee System</h2>
            </header> -->
            <div class="row homepage">
                <div class="col-5 col-6-medium col-12-small">

                    <!-- Feature -->
                        <section>
                            <a href="#" class="image featured"><img src="assets\images\businessFML.png"  style="float:center" height="200px" width="200px" /></a>
                            <header>
                                <h3>Introduction</h3>
                            </header>
                            <p>The new employee Introduction gives you the opporunity 
                                to explain the new employee's gob, location  and 
                                Previous occupations..
                            </p>
                            <span class="more">
                                <a href="javascript:;">Read More >></a>
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>
                        </section>

                </div>
                <div class="col-4 col-6-medium col-12-small">

                    <!-- Feature -->
                        <section>
                            <a class="image featured"><img src="assets\images\StateofEmployee.png" style="float:center" height="200px" width="300px"/></a>
                            <header>
                                <h3>Goals</h3>
                            </header>
                            <p>Most organizations see a dramatic increase in employee and business performance when they effectively
                                set individual employee goals and closely tie them to the company's overall strategy. The process
                                of setting goals should be a collaborative process between an employ ee and his or her manager</p>
                        </section>
                </div>
        
                <div class="col-12">
                    <ul style="margin-top: 10px;">
                        <li><a routerLink='' routerLinkActive="active" class="btn btn-primary btn-lg">Let's start</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>