<div>
    <div class="container entersystem">
        <div class="row">
            <div class="col-md">
                <h2>Welcome to Employees system</h2>
                <p>New customer press sign-up, already in system press log-in</p>
            </div>
        </div>
    
            <div class="row">
                <div class="col-md">
                    <div class="form-group">
                        <span>
                            <button routerLink='login' class="btn btn-outline-secondary" routerLinkActive="active">
                                Log-in</button>
                        </span>
                        <span>
                            <button routerLink='signup' class="btn btn-secondary" routerLinkActive="active">
                                Sign-up</button>
                        </span>
                    </div>
                </div>
            </div>
    </div>

</div>